@model IEnumerable<PlacementCell.Models.EmployeeModelForClass>

@{
    ViewBag.Title = "GetAllEmployees";
}
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

<link href="~/Content/grid.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/CreationFile.css" rel="stylesheet" />

<style>
    *, h2 {
        font-family: 'Lato','Arial',sans-serif;
    }
</style>

<h2>Omni Corporate Employees</h2>
@{
    if (ViewBag.Message != "")
    {
        <h3>@ViewBag.Message</h3>
    }
}
<p>
    @Html.ActionLink("Create New", "CreateEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            @*<td>
                @Html.ActionLink("Edit", "EditEmployee", new { id = item.EmployeeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
            </td>*@
        </tr>
    }

</table>
