@model PlacementCell.PlacementCellDBModel.LoginDBModel
@{
    //ViewBag.Title = "Index";

}
<style>
    .rajat a {
        background-color: #3B5998;
        color: white;
        width: 50%;
        margin-top: 65px;
        border-radius:200px;
    }

    
</style>


<link href="~/Content/CreationFile.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-social.css" rel="stylesheet" />


<script src="~/Scripts/jquery-1.10.2.js"></script>

<link href="~/Content/grid.css" rel="stylesheet" />
<link href="~/Content/Main.css" rel="stylesheet" />

<div class="row" style="margin-left:425px;margin-top: 20px;">
    <img src="~/Content/OmnikartLogin.jpg" class="logo-image" alt="WelcomeOnboard" />
</div>

<div class=" row" style="margin-left: 200px;">
    <div class="col span-1-of-2">
        <form method="post">
            <div class="border">
                <div class="login-form">
                    @*<div class="row">
                        <img src="~/Content/OmnikartLogin.jpg" class="logo-image" alt="WelcomeOnboard" />
                    </div>*@
                    <br />

                    <div class="row">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @Html.HiddenFor(Model => Model.Role)
                    </div>
                    <div class="row forgot-password" style="margin-left:200px">
                        @Html.ActionLink("Forgot Password?", "ForgotPassword")
                    </div>

                    <div class="login-failed row">
                        <p style="margin-left:15px">@ViewBag.Error</p>
                    </div>

                    <div class="row form-group" style="margin-left:30px">
                        <input class="btn btn-primary btn-block btn-lg" type="submit" name="yt0" value="Sign in " style="width:60%">
                    </div>

                    <div class="row go-to-login">
                        <small style="margin-left: 41px;font-size: 110%;">Not Registered?</small>
                        @Html.ActionLink("Create An Account", "Registration")
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="rajat col span-1-of-2" style="margin-top:22px;">
        <div class="row">
            <h1 style="margin-left: 20px">Candidates Login</h1>
            <h3>Explore World of Opportunities</h3>
            <h4 style="margin-left: 65px;">Join Omni Corporates</h4>
        </div>
        <div class="row">
            <a class="btn btn-block btn-social btn-lg btn-facebook" onclick="location.href='@Url.Action("Facebook","oAuth")'" style="margin-left: 37px">
                Sign in with Facebook
            </a>
        </div>



    </div>
</div>





<script type="text/javascript">
    $("#UserName").attr("placeholder", "Enter Email-ID")
    $("#Password").attr("placeholder", "Enter Password")
    $("#ConfirmPassword").attr("placeholder", "ConfirmPassword")
    $("#Role").val("admin");
</script>
