@model PlacementCell.Models.LoginModelForClass

@{
    ViewBag.Title = "Registration";
}
@*<link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">*@

<link href="~/Content/grid.css" rel="stylesheet" />
<link href="~/Content/ionicons.min.css" rel="stylesheet" />
@*<link href="~/Content/CreationFile.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/Main.css" rel="stylesheet" />

<div class="content-wrapper">


    <div class="content">

        <form method="post">
            <div class="border">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>

                    </div>
                    <div class="input-buttons">
                        <img src="~/Content/OmnikartLogin.jpg" class="logo-image" alt="WelcomeOnboard" />
                        <br />

                        @*<h5 class="content-group">
                            <small style="margin-left: 30px;margin-left: 5px;font-size: 120%;">Register with Email</small> <br />
                        </h5>*@

                        <div>
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="login-failed">
                            <p style="margin-left:30px">@ViewBag.Message</p> 
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary btn-block btn-lg" type="submit" name="yt0" value="Register">
                        </div>
                        <div class="text-danger"></div>
                        <div class="go-to-login">
                            <small style="margin-left: 45px;font-size: 110%;">Already Registered?</small>
                            @Html.ActionLink("Continue to Login", "Index")
                        </div>
                        <div class="text-danger"></div>
                    </div>

                </div>
            </div>
        </form>


    </div>

</div>



<script type="text/javascript">
    $("#UserName").attr("placeholder", "Enter Email-ID")
    $("#Password").attr("placeholder", "Enter Password")
    $("#ConfirmPassword").attr("placeholder", "Confirm Password")
</script>